* {
    box-sizing: border-box;
}

.header  {
  font-family: monospace;
  background: papayawhip;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
}

.logo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  padding-left: 0px;
  /* margin: 0px; */
  list-style-type: none;
  display: flex;
  gap: 2vh;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}