body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 32px;
  /* margin: auto;   */
  margin-left: auto;
  /* margin-left: 322px;   */

  /* margin left should be set to auto insted of pixel values,
  auto allows for it to still make sense on mobile/small screen devices.
  Auto works since a set width is given.*/
  
}